@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-headline: "Plus Jakarta Sans", sans-serif;
  
  --color-background: #0c1420;
  --color-surface: #0c1420;
  --color-surface-low: #141c28;
  --color-surface-high: #232a37;
  --color-primary: #ffb77d;
  --color-secondary: #b9c7e4;
  --color-on-surface: #dbe2f4;
  --color-on-surface-variant: #c5c6cd;
}

@layer base {
  body {
    @apply bg-background text-on-surface font-sans antialiased;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
